@page "/"

<PageTitle>Index</PageTitle>

<h1>- Our selection of pizzas -</h1>

<!--MENU-->
<PizzaList Title="Nuestra seleccion de Pizzas" Items="@State.Menu.Pizzas" ButtonTitle="Order"
    ButtonClass="btn btn-success pl-4 pr-4" Selected="AddToBasket" />
<!--END MENU-->

<!--Shopping basket-->
<ShoppingBasket Orders="@State.Basket.Orders" GetPizzaFromId="@State.Menu.GetPizza" Selected="@RemoveFromBasket" />
<!--End Shopping basket-->

<!--Customer entry-->
<CustomerEntry ButtonClass="mx-auto w-25 btn btn-success"
    Title="Por favor, introduce tus datos" ButtonTitle="Comprar" @bind-Customer="@State.Basket.Customer" ValidSubmit="PlaceOrder" />
<!--End Customer entry-->

@State.ToJson();

@code {
    private State State { get; } = new State();

    protected override void OnInitialized()
    {
        State.Menu.Add(new Pizza(1, "Pepperoni", 8.99M, Spiciness.Spicy));
        State.Menu.Add(new Pizza(2, "Margarita", 7.99M, Spiciness.None));
        State.Menu.Add(new Pizza(3, "Diabolo", 9.99M, Spiciness.Hot));
        State.Menu.Add(new Pizza(4, "Fromagge", 12.50M, Spiciness.None));
    }

    // Ruta para las imagenes de los picantes
    private string SpicinessImage(Spiciness spiciness) => $"images/{spiciness.ToString().ToLower()}.png";

    // Aniadir al carrito
    private void AddToBasket(Pizza pizza) => State.Basket.Add(pizza.Id);

    // Eliminar del carrito
    private void RemoveFromBasket(int pos) => State.Basket.RemoveAt(pos);

    // Agregar pedido
    private void PlaceOrder() => Console.WriteLine("Placing order... :)");

}
