<div class="row">
    <div class="col">
        @Pizza.Name
    </div>
    <div class="col text-right">
        @($"{Pizza.Price:0.00}")
    </div>
    <div class="col"></div>
    <div class="col">
        <img src="@SpicinessImage(Pizza.Spiciness)" alt="@Pizza.Spiciness" style="height:40px; width:40px;">
    </div>
    <div class="col">
        <button class="@ButtonClass" @onclick="@(()=> Selected.InvokeAsync(Pizza))">Add</button>
    </div>
</div>


@code {
    [Parameter]
    public Pizza Pizza { get; set; } = default!;

    [Parameter]
    public string ButtonTitle { get; set; } = default!;

    [Parameter]
    public string ButtonClass { get; set; } = default!;

    [Parameter]
    public EventCallback<Pizza> Selected { get; set; } = default!;

    // Ruta de la imagen
    private string SpicinessImage(Spiciness spiciness)
    {
        return $"images/{spiciness.ToString().ToLower()}.png";
    }
}